Preprocessing the movie reviews collected from IMDB

In [6]:
import pandas as pd
import spacy
import string
import re

In [2]:
df = pd.read_csv('movie_data.csv')
df.drop(columns={'Unnamed: 0'}, inplace=True)
df.sample(10)

,movie_title,review_title,review,rating,rating_sentiment,sentiment_label
3345,John Wick (2014),Welcome Back Keanu Reeves!,It's actually hard to remember the last time w...,9,positive,1
1537,Shutter Island (2010),The movie is perfect psycho drama,"Shutter Island is the story of Teddy Daniels, ...",10,positive,1
8138,The Hangover (2009),"Not that good, really...",Went to see it with my wife last week. We laug...,1,negative,0
7585,The Equalizer (2014),"Gruesome at times, The Equalizer is a rewardi...",Rooting for a badass hero with a kickass attit...,7,positive,1
2587,Along Came Polly (2004),Could've been so much better...,... or should I say: Should've been so much be...,4,negative,0
6692,Life of Pi (2012),Outstanding,'Life of Pi' is a story about a young man stra...,8,positive,1
2763,A Cinderella Story (2004),Okay,This movie is a teenie bop movie in most every...,4,negative,0
7881,National Treasure (2004),"Good funfilled, action adventure. Seen many r...",I couldnt believe I hadnt already written a re...,7,positive,1
405,Avatar (2009),"WOW, WOW, and WOW","James Cameron's new movie ""Avatar"" is an outst...",10,positive,1
6202,Good Will Hunting (1997),Wow,Rarely do I enjoy a film so much that I relish...,10,positive,1

In [ ]:
sentiment_label = []
for x in df['rating']:
    if x > 5:
        sentiment_label.append(1)
    else:
        sentiment_label.append(0)
df['sentiment_label'] = sentiment_label

In [ ]:
rating_sentiment = []
for x in df['rating']:
    if x > 5:
        rating_sentiment.append('positive')
    else:
        rating_sentiment.append('negative')
df['rating_sentiment'] = rating_sentiment

In [ ]:
nlp = spacy.load("en_core_web_sm")
token_li = []
i = 0
for x in df['review']:
    x = re.sub(r"won\'t", "will not", x)
    x = re.sub(r"can\'t", "cannot", x)
    x = re.sub(r"n\'t", " not", x)
    temp = [word.lemma_.strip(string.punctuation) for word in nlp(x) if len(word.lemma_) >=2]
    token_li.append(temp)
    i+=1
df['tokenized_reviews'] = token_li
df.sample(10)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9665 entries, 0 to 9664
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   movie_title        9665 non-null   object
 1   review_title       9665 non-null   object
 2   review             9665 non-null   object
 3   rating             9665 non-null   int64
 4   rating_sentiment   9665 non-null   object
 5   sentiment_label    9665 non-null   int64
 6   tokenized_reviews  9665 non-null   object
dtypes: int64(2), object(5)
memory usage: 528.7+ KB

In [8]:
df.to_csv('movie_data.csv')